SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key

SQUIDEX_CLIENT_ID=your_client_id
SQUIDEX_CLIENT_SECRET=your_client_secret
SQUIDEX_APP_NAME=hostel-hub
SQUIDEX_API_URL=your_squidex_api_url
